[submodule "packages/io"]
	path = packages/io
	url = https://github.com/rotcare/io.git
[submodule "packages/rx-core"]
	path = packages/rx-core
	url = https://github.com/rotcare/rx-core.git
[submodule "packages/rx-react"]
	path = packages/rx-react
	url = https://github.com/rotcare/rx-react.git
[submodule "packages/deploy"]
	path = packages/deploy
	url = https://github.com/rotcare/deploy.git
[submodule "packages/cloud"]
	path = packages/cloud
	url = https://github.com/rotcare/cloud.git
[submodule "packages/cloud-mem"]
	path = packages/cloud-mem
	url = https://github.com/rotcare/cloud-mem.git
[submodule "docs"]
	path = docs
	url = https://github.com/rotcare/rotcare.github.io.git
[submodule "packages/active-record"]
	path = packages/active-record
	url = https://github.com/rotcare/active-record.git
[submodule "packages/codegen"]
	path = packages/codegen
	url = https://github.com/rotcare/codegen.git
[submodule "packages/io-mysql"]
	path = packages/io-mysql
	url = https://github.com/rotcare/io-mysql.git
